
* {
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.headTitle {
    direction: ltr;
    font-size: 2.5rem;
}

md-pagination-wrapper {
    right: 0;
}

.md-tab {
    float: right;
}

.inputField {
    direction: rtl;
    border: none;
    border-bottom: 1px solid #5cb85c;
    background: none;
    max-width: 50%;
}
vendor-info-directive .inputField {
    height: 17px;
}

new-product-directive input {
    font-size: 16px;
}

.loader {
    position: absolute;
    background-color: #87878780;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 666;
}

.loader > div {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 16px double #f3f3f3;
    border-top-color: #3498db;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div[id*="Modal"] > .modal-dialog {
    width: 50%;
    webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}

.productElement {
    padding: 15px 35px;
    float: right;
}

.productElement > td{
    display: block;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 6px black;
}

.productElement > td > p {
    padding: 0;
    margin: auto;
}

.newProduct {
    color: #449d44;
}

.edited {
    color: #31b0d5;
}

.receiptsBar {
    font-size: 3rem;
    text-align: center;
}

th {
    text-align: center;
}

.approved {
    color: #449d44;
}

.notApproved {
    color: #d9534f;
}