.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.headTitle {
    direction: ltr;
    font-size: 2.5rem;
}

md-pagination-wrapper {
    right: 0;
}

.md-tab {
    float: right;
}

.inputField {
    direction: rtl;
    border: none;
    border-bottom: 1px solid #5cb85c;
    background: none;
    max-width: 50%;
}

.closedField {
    border-bottom: none;
}

.selectField {
    direction: ltr;
    border: none;
    text-align: right;
    border-bottom: 1px solid #5cb85c;
    background: none;
    width: 100%;
}

#inventoryModal .modal-content {
    display: block;
    margin: 0 auto;
    width: 315px;
}

.selectField::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.selectField::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.selectField::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(152, 217, 143)),
    color-stop(0.72, rgb(106, 189, 74)),
    color-stop(0.86, rgb(32, 148, 31)));
}

.selectField:focus {
    outline: none;
}

.selectField > option {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.selectField:focus option:checked {
    background: linear-gradient(0deg, rgb(32, 148, 31), rgb(106, 189, 74), rgb(152, 217, 143));
}

.selectField option:checked {
    background: linear-gradient(0deg, rgb(32, 148, 31), rgb(106, 189, 74), rgb(152, 217, 143));
}

.selectField + small {
    letter-spacing: 1px;
    font-style: oblique;
}

vendor-info-directive .inputField {
    height: 1.2em;
}

new-product-directive input {
    font-size: 16px;
}

.daysList:not(:last-of-type):after {
    content: ',';
}

.daysList {
    display: inline-block;
    margin-left: .5rem;
}

.loader {
    position: absolute;
    background-color: #87878780;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 666;
}

.loader > div {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 16px double #f3f3f3;
    border-top-color: #3498db;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    div[id*="Modal"]:not(#inventoryMmodal) > .modal-dialog {
        width: 50%;
        webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%);
    }
}

.productElement {
    padding: 15px 35px;
    float: right;
}

.productElement > td {
    display: block;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 6px black;
    position: relative;
    height: 3rem;
}

.productElement > td > p {
    padding: 0 1px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    position: absolute;

    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
}

.productElement > td > p:first-of-type {
    right: 0;
    height: 100%;
    line-height: 2;
    top: 0;
}

.productElement > td > p:first-of-type:hover {
    background-color: rgb(255, 157, 158);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    line-height: 2;
    z-index: 666;
    border-radius: 15px;
    border: 1px solid #f00;
}

.newProduct {
    color: #449d44;
}

.edited {
    color: #31b0d5;
}

.receiptsBar {
    font-size: 3rem;
    text-align: center;
}

th {
    text-align: center;
}

.approved {
    color: #449d44;
}

.notApproved {
    color: #d9534f;
}

.inventoryOptions {
    height: 100%;
    overflow-y: auto;
    padding: 15px;
    text-align: center;
}

.inventoryOptions > button {
    display: inline-block;
    width: 40%;
    margin: 20px auto;
}

.inventoryOptions .table > .year {
    padding: 2rem;
}

.inventoryOptions .table > .year > h2 {
    text-align: right;
    margin: 0;
}

.inventoryOptions .table > .year > .month {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
}

.inventoryOptions .table > .year > .month, .inventoryOptions .table > .year {
    background-color: #fff;
    position: relative;
    -webkit-transition: all .25s cubic-bezier(.55, 0, .1, 1);
    transition: all .25s cubic-bezier(.55, 0, .1, 1);
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.2);
    box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}

.inventoryOptions .table > .year > .month:hover, .inventoryOptions .table > .year:hover {
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45);
}

.inventoryOptions .table > .year > .month:not(:last-child), .inventoryOptions .table > .year:not(:last-child) {
    margin-bottom: 2rem;
}

.inventoryOptions .table > .year > .month > h3 {
    text-align: right;
    padding: 1rem;
    margin: 0;
}

.inventoryOptions .table > .year > .month > table{
    margin: inherit;
}

.inventoryOptions .table > .year > .month > .w3-panel{
    text-align: right;
}

.w3open {
    background-color: #c2e3f3;
    border-right: 6px solid #89b9ff;
}

.w3close {
    background-color: #f3b5b5;
    border-right: 6px solid #ff8989;
}

.w3-panel {
    margin: 16px auto;
    padding: 0.01em 16px;
}

.w3-panel:before, .w3-panel:after {
    content: "";
    display: table;
    clear: both;
}

.w3-panel > * {
    padding-top: 16px;
    padding-bottom: 8px;
    margin: 0 0 10px;
    line-height: 33px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

[uib-datepicker-popup-wrap], [uib-datepicker] {
    direction: ltr !important;
}