
<div class="header row">
    <div class="col-md-12 col-sm-12" style="text-align: center;">
        <h1>{{ name }} - {{ section }}</h1>
    </div>
</div>
<div class="row" ng-hide="displayTable">
    <div class="col-md-12 col-sm-12 inventoryOptions" style="height: 100%; overflow-y: auto; padding: 15px;"
         ng-show="!showTable">
        <button class="btn btn-success" ng-click="showModal()">צור רשומות חדשות</button>
        <entries-directive></entries-directive>
    </div>
</div>
<new-table-modal-directive></new-table-modal-directive>
<ui-view></ui-view>
